#row{
    display: flex;
    flex-direction: row;
}


#a{
    background-color: red;
    flex: 1;
}

#b{
    background-color: rgb(83, 68, 68);
    flex: 2;
}

#c{
    background-color: rgb(196, 105, 105);
    flex: 3;
}